@import '~swiper/css';
@import '~swiper/css/pagination';
@import '~swiper/css/navigation';

#main .swiper-container {
  height: 100vh;
}

#main .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  background-image: linear-gradient(to right, '#1A344A', '#4A4676');
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  color: white;
}

#main .swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

#main .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

#main .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

#main .swiper-button-prev,
#main .swiper-button-next {
  color: white;
}

#main .swiper-button-prev::after,
#main .swiper-button-next::after {
  font-size: 40px !important;
}

@media (max-width: 768px) {
  #main .swiper-button-prev::after,
  #main .swiper-button-next::after {
    font-size: 20px !important;
  }
}

#main .swiper-pagination-bullet {
  background-color: white;
}

#button-border-animate {
  --border-size: 3px;
  --border-angle: 0turn;
  /* width: 60vmin;
  height: 50vmin; */
  background-image: conic-gradient(
      from var(--border-angle),
      #1A344A,
      #4A4676 50%,
      #1A344A
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

#button-border-animate:hover {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}